<h1>Products</h1>

<div class="products-grid">
  <% @products.each do |product| %>
    <%= render partial: "product_card", locals: { product: product } %>
  <% end %>
</div>

<!-- Modal Frame -->
<turbo-frame id="modal"></turbo-frame>
